{% block head %}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>DaDa - {{ tagline }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

</head>

{% endblock head %}

{% block nav %}
<nav class="top-bar" data-topbar><div class="name"><h1><a href="/">{{ title }}</a></h1>
</div> </nav>

<nav id="sub" class="top-bar" data-topbar>
<a href="//github.com/acecodes/acescrape">Github</a> | 
<a href="//acecodes.net">Author</a></section> </nav>
<br />
{% endblock nav %}

<body>
{% block content %}
{% endblock content %}

{% block js %}
  
  <script src="{{ url_for('static', filename='js/vendor/zepto.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/topbar.js') }}"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/acescrape.js') }}"></script>
  <script>
    $(document).foundation();

  </script>

{% endblock js %}
  
{% block footer %}

      <div class="footer">
        <p class="copyright">&copy; <a href="//www.acecodes.net">Ace Eddleman</a> {{ year }}</p>
      </div>

{% endblock footer %}

</body>
</html>
